<form action="/{{currentUser.email}}/activity" method="post" class="container">
      <legend>Create Activity</legend>
      <br>

        {{!-- EMAIL --}}
        <div class="form-group">
          <label for="name">Title</label><br>
          <input class="form-control"
            id="title"
            type="title"
            name="title"
            placeholder="Title"/>
        </div>

        {{!--  PASSWORD  --}}
        <div class="form-group">
          <label for="name">Description</label><br>
          <input class="form-control"
            id="description"
            type="description"
            name="description"
            placeholder="Description"/>
        </div>

        {{!-- Longitude--}}
        <div class="form-group">
          <label for="name">Longitude</label><br>
          <input class="form-control"
            id="longitude"
            type="longitude"
            name="longitude"
            placeholder="Longitude"/>
        </div>
      
        {{!-- Latitude--}}
        <div class="form-group">
          <label for="name">Latitude</label><br>
          <input class="form-control"
            id="latitude"
            type="latitude"
            name="latitude"
            placeholder="Latitude"/>
        </div>

        {{!-- Address--}}
        <div class="form-group">
          <label for="name">Address</label><br>
          <input class="form-control"
            id="address"
            type="address"
            name="address"
            placeholder="Address"/>
        </div>        

        {{!-- BUTTON --}}
        <div class="form-group">
            <div class="text-center">
              <button
                  style="margin-top: 30px"
                  class="btn btn-primary"
                  type="submit">Submit</button>
        </div>
    </div>
    
</form>


