{{> navbar}}



<iframe src="https://www.google.com/maps"></iframe>

<form action='/activities' method='get'><button>Show all activities</button></form>
<button><a href='/activity-create'>Create activity</a></button>
    
