{{> navbar}}

<form action="/login" method="post">
    <legend>Login In</legend>

    <br>

    <!-- EMAIL-->
    <div class="form-group">
      <label for="name">E-mail</label><br>
      <input class="form-control"
        id="email"
        type="email"
        name="email"
        placeholder="e-mail"/>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label for="name">Password</label><br>
      <input class="form-control"
        id="password"
        type="password"
        name="password"
        placeholder="password"/>
    </div>

  <!-- BUTTON -->

  <div class="form-group">
      <div class="text-center">
        <button
            style="margin-top: 30px"
            class="btn btn-primary"
            type="submit">Login</button>
      </div>
  </div>
</form>
