<form action="/sign-up" method="post">
    <legend>Sign Up</legend>

    <br>

    <!-- EMAIL-->
    <div class="form-group">
      <label for="name">E-mail</label><br>
      <input class="form-control"
        id="email"
        type="email"
        name="email"
        placeholder="e-mail"/>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label for="name">Password</label><br>
      <input class="form-control"
        id="password"
        type="password"
        name="password"
        placeholder="password"/>
    </div>

    {{!-- CONFIRM PASSWORD --}}
    <div class="form-group">
      <label for="name">Confirm Password</label><br>
      <input class="form-control"
        id="password"
        type="password"
        name="password"
        placeholder="confirm password"/>
    </div>
    <br>

    <!-- NAME -->
    <div class="form-group">
      <label for="name">Name</label><br>
      <input class="form-control"
        id="name"
        type="text"
        name="name"
        placeholder="Name"/>
    </div>

    <br>

  <!-- BUTTON -->

  <div class="form-group">
      <div class="text-center">
        <button
            style="margin-top: 30px"
            class="btn btn-primary"
            type="submit">Sign-Up</button>
      </div>
  </div>
</form>
