<form action="/sign-up" method="post">
    <legend>Sign Up</legend>

    <br>

    <!-- EMAIL-->
    <div class="form-group">
      <label for="name">E-mail</label><br>
      <input class="form-control"
        id="email"
        type="email"
        name="email"
        placeholder="e-mail"/>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label for="name">Password</label><br>
      <input class="form-control"
        id="password"
        type="password"
        name="password"
        placeholder="password"/>
    </div>

    <!-- NAME -->
    <div class="form-group">
      <label for="name">Name</label><br>
      <input class="form-control"
        id="name"
        type="text"
        name="name"
        placeholder="Name"/>
    </div>

    <br>

    <!-- COMPANY -->
    <div class="form-group">
      <label for="company">Company</label><br>
      <input class="form-control"
      id="company"
      type="text"
      name="company"
      placeholder="Company"/>
    </div>

    <br>

    <div class="form-group">
      <label for="position">Position</label><br>
      <input class="form-control"
      id="position"
      type="text"
      name="position"
      placeholder="Position"/>
    </div>

    <br>

  <!-- BUTTON -->

  <div class="form-group">
      <div class="text-center">
        <button
            style="margin-top: 30px"
            class="btn btn-primary"
            type="submit">Sign-Up</button>
      </div>
  </div>
</form>
