.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-up-link{
    display: flex;
    justify-content: center;
    text-align: center;
}

.activities-box{
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px; 
}

#title, #description, #coordinates, #address{
    font-size: 20px;
}